.access{
	border: solid 0.01em lightgrey !important;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 0px 0px 5px;
}
.lblWriter{
	color: white;
    background-color: #36b9cc;
    border-radius: 25px 25px 5px 25px !important;
    padding: 0.0em 0.5em 0.1em 0.5em;
    margin: auto 1em auto auto;
    flex:1;
}
.lblReader{
	color: white;
    background-color: #36b9cc;
    border-radius: 25px 25px 25px 5px !important;
    padding: 0.0em 0.5em 0.1em 0.5em;
    margin: auto auto auto 1em;
    flex:1;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor:pointer;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor:pointer;
}
.new-rounded {
	float:right;
	font-weight: bolder;
	border-radius: 100%;
	line-height: initial;
	height: calc(1.5em + .5rem + 2px);
    width: calc(1.5em + .5rem + 2px);
}
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	margin: .2em .6em .3em;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #5bc0de;
}

.dropdown-item.active {
	background-color: #5bc0de !important;
}

.dustbin-icon {
	position: relative;
	top: 12em;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 12em;
	height: 14em;
	background: linear-gradient(90deg, #333 40%, transparent 40%);
	background-size: 2.8em;
	border-bottom: 1.6em solid #333;
	border-radius: 0 0 1em 1em;
}

.dustbin-icon:before {
	content: '';
	position: absolute;
	top: -3em;
	left: -1.5em;
	width: 14em;
	height: 2.2em;
	border: 0.6em solid #333;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	border-radius: 1em 1em 0 0;
}

.dustbin-icon:after {
	content: '';
	position: absolute;
	top: -5.1em;
	left: 3em;
	width: 5em;
	height: 1.5em;
	border-radius: 1em 1em 0 0;
	border-width: 0.6em;
	border-color: #333;
	border-style: solid;
}